@font-face {
  font-family: "Uni Sans";
  src: url('../unisans_familia/Uni Sans.ttf') format('truetype'), 
  url("../unisans_familia/UniSansLight.ttf") format('truetype'), url('../unisans_familia/Uni Sans Light Italic.ttf') format('truetype'), 
  url('../unisans_familia/Uni Sans Thin.otf') format('opentype'), url('../unisans_familia/Uni Sans Thin.ttf') format('truetype'), 
  url('../unisans_familia/UniSansBoldItalic.ttf') format('truetype'), url('../unisans_familia/Uni Sans Bold.ttf') format('truetype'), 
  url('../unisans_familia/Uni Sans Book Italic.ttf') format('truetype'), url('../unisans_familia/Uni Sans Book.ttf') format('truetype'), 
  url('../unisans_familia/Uni Sans Heavy Italic.ttf') format('truetype'), url('../unisans_familia/Uni Sans Heavy Italic.otf') format('opentype'), 
  url('../unisans_familia/Uni Sans Heavy.otf') format('opentype'), url('../unisans_familia/Uni Sans Heavy.ttf') format('truetype'), 
  url('../unisans_familia/Uni Sans Italic.ttf') format('truetype'), 
  url('../unisans_familia/Uni Sans SemiBold Italic.ttf') format('truetype'), url('../unisans_familia/Uni Sans SemiBold.ttf') format('truetype'), 
  url('../unisans_familia/Uni Sans Thin Italic.otf') format('opentype'), url('../unisans_familia/Uni Sans Thin Italic.ttf') format('truetype');

} 

body{
  font-size: 15px;
  font-family: "Uni Sans";

}
.navbar{
  background-color: #17426d;
  
}
/* MENU */
.navbar-nav{
  padding-left:6%;
}
nav li {
  list-style: none;
  cursor: pointer;
  margin: 15px;
}
.navlink {
  color: #dddddd;
  font-size: 15px;
  display: inline-block;
}
.navitem a:hover, .navlink:active{ 
  color: #EF7D00 !important;
  border-bottom: #EF7D00 4px  solid;
  display: block;
  font-size: 100%;
}
/* FIM MENU */

/***   DIV SOMOS   ***/
.hero-image {   /* fundo */  
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/home/hero.jpg);

 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 512px;
}
.hero-text {      /* textos*/
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.favelacor{     
  color: #0a0909e3;
}
.inovacor{      
  color: #1f1d1dcb;
} /* FIM textos*/
.fs-2 {
  font-size: calc(1.325rem + 0.9vw)!important;
  margin-right: 56%;
  text-align: right;
}
.fs-1 {
  margin-left: 15%;
}
.img{
  width: 18%;
}
/***   FIM DIV SOMOS   ***/


a {
  color:rgb(255, 255, 255);
  text-decoration: none;
}

.programasH {
  min-height: 96px;
}


/* EDITAL */
.myCard { 
  margin: 20px auto;
  width: 95%;
}

.btn a:hover{
  color: #767779 !important;
}
.btn-outline-info a {
  color:#1d9696;
  text-decoration: none;

}
.btn-outline-warning a {
  color:#c4b214;
  text-decoration: none;
}



.text-justify {
  text-align: justify;
}

/****   Missao   ****/
.fundo-favelainova { 
  color: #000000;
  background-image : linear-gradient(#EA5A33, #EF7D00);
}
.missao {
  font-size: 22px;
}
.missao strong {
  font-weight: 600;
}

/*.color-favelainova {
  color: #EA5A33;
}*/

.destaque-favelainova {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  display: contents;
}


.cabecalho-favelainova {    /*** OBJETIVOS ***/
  font-weight: 600;
  color: #17426d;
}
.icon{
  width: 70px;
  height: 70px;
}
.mt-3 {
  margin-top: 1rem!important;
  color: #17426D;
}
.text-justify .mt-3{
  text-align: left;
}

/*    PARCEIROS   */
.text{
  font-size: 15px;
  text-align: center;
}
.parceiros-colecao {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.parceiros-item {
  width: 140px;
  height: 140px;
  padding: 8px;
  margin: 20px 20px;
  }
.parceiros-colecao2{ /*geral*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.parceiros-item2{
  width: 190px;
  height: 140px;
  margin: 15px 40px;
 }
 .parceiros-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.container-parceiros {
  min-height: 72vh;
}
/*    FIM PARCEIROS   */
 

/***    PROGRAMAS    ****/
.programas-foto {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.favelacorN{     
  color: #db0303f3;
}
.programas-titulo {
  font-weight: 600;
}
.programas-coordenacao {
  text-transform: uppercase;
}
.programas-foto {
  width: 230px;
  height: 230px;
}
.programas-foto img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
hr {
  background-color: #EF7D00;
}/*     FIM PROJETO     */


/***   IMPRENSA   ***/
#mais1{
  display: none;
}
#mais2{
  display: none;
}
#mais3{
  display: none;
}
#mais4{
  display: none;
}
#mais5{
  display: none;
}
#mais6{
  display: none;
}
#mais7{
  display: none;
}
#mais8{
  display: none;
}

#btnVerMais1{
  color: blue;
  cursor: pointer;
}
#btnVerMais2{
  color: blue;
  cursor: pointer;
}
#btnVerMais3{
  color: blue;
  cursor: pointer;
}
#btnVerMais4{
  color: blue;
  cursor: pointer;
}
#btnVerMais5{
  color: blue;
  cursor: pointer;
}
#btnVerMais6{
  color: blue;
  cursor: pointer;
}
#btnVerMais7{
  color: blue;
  cursor: pointer;
}
#btnVerMais8{
  color: blue;
  cursor: pointer;
}


.card-body{
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.col-sm-3{
  height: max-content;
}
.conteudo-img-card { 
  height: 190px;
  object-fit: cover;
  object-position: center center;
}
.titulo-noticias {
  font-size: 18px;
  font-weight: 700;
}
.subtitulo-noticias {
  font-size: 14px;
  color: #7a7d6c;
  font-weight: 600;
  text-transform: uppercase;
}/***  FIM IMPRENSA  ***/


.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}
/*
.display-1,
.display-2,
.display-3 {
}
*/




/*      RODAPÉ      */
.footer {
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #17426d;
  color: #ffffff;
  list-style: none;
}
.footer .endereco {
  font-size: 17px;
}
.footer .endereco h4 {
  font-size: 16px;
  margin-top: 0.25rem;
  margin-bottom: 0;
  margin-left: 17px;
}
.footer .endereco span {
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 0;
  margin-left: 17px;
}
.rounded-social-buttons {
  text-align: right;
}
.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border: 0.25rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}
.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.rounded-social-buttons,
/*.fa-linkedin,*/
.fa-instagram {
  font-size: 70px;
}
.rounded-social-buttons .social-button.instagram {
  background: #17426D;
  border-color: #ffffff;
}
.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
  color: #17426D;
  background: #ffffff;
  border-color: #0F96AE;
} 


.maps-button {
  position: relative;
  cursor: pointer;

  padding-top: 18px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 17px;
  margin-top: 0.25rem;
  margin-bottom: 0;
  margin-left: 15px;
}
.maps-button:hover,
.maps-button:focus {
  font-size: 19px;
}

.fa-map-marker-alt {
  font-size: 25px;
  color: #EA5A33;
}
.email{
  color: #ffffff;
}
/*    FIM RODAPÉ      */