@font-face{
  font-family: 'unisuam';
  src: url('assets/unisans_familia/Uni Sans Thin.otf') format('opentype'), url('assets/unisans_familia/Uni Sans Thin.ttf') format('truetype'), 
  url('Uni Sans.ttf') format('truetype'); 
}
/*url('Uni Sans Bold Italic.ttf') format('truetype'), url('Uni Sans Bold.ttf') format('truetype'), 
  url('Uni Sans Book Italic.ttf') format('truetype'), url('Uni Sans Book.ttf') format('truetype'), 
  url('Uni Sans Heavy Italic.ttf') format('truetype'), url('Uni Sans Heavy Italic.otf') format('opentype'), 
  url('Uni Sans Heavy.otf') format('opentype'), url('Uni Sans Heavy.ttf') format('truetype'), 
  url('Uni Sans Italic.ttf') format('truetype'), 
  url('Uni Sans Light Italic.ttf') format('truetype'), url('Uni Sans Light.ttf') format('truetype'), 
  url('Uni Sans SemiBold Italic.ttf') format('truetype'), url('Uni Sans SemiBold.ttf') format('truetype'), 
  url('Uni Sans Thin Italic.otf') format('opentype'), url('Uni Sans Thin Italic.ttf') format('truetype'), */
body{
  background-color: #dddddd; 
}
.navbar{
  background-color: #17426d;
  
}
/* MENU */
nav li {
  list-style: none;
  cursor: pointer;
  margin: 15px;
}
.navlink {
  color: #f7ce17;
  font-size: 14px;
  display: inline-block;
}
.navitem a:hover, .navlink:active{ 
  color: #ea5a33 !important;
  border-bottom: #ea5a33 4px  solid;
  display: block;
  font-size: 100%;
}
/* FIM MENU */

a {
  color:rgb(255, 255, 255);
  text-decoration: none;
}

.projetosH {
  min-height: 96px;
}



/* EDITAL */
.myCard { 
  margin: 20px auto;
  width: 95%;
}
.font {
/*  font-family: "Anton", sans-serif;*/
  margin: 0;
  /*color: #b0afb3;*/
  opacity: 0.8;
}
.btn a:hover{
  color: #767779 !important;
}
.btn-outline-info a {
  color:#1d9696;
  text-decoration: none;

}
.btn-outline-warning a {
  color:#c4b214;
  text-decoration: none;
}



/*.carousel {
  width: 100%;
  min-height: 500px;
}
.carousel-inner {
  width: 100%;
  height: 500px;
}*/

.text-justify {
  text-align: justify;
}

.fundo-favelainova { /*Missao*/
  background-color: #181616;
  color: #fff;
}

.color-favelainova {
  color: #2b3e64;
}

.destaque-favelainova {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}


.cabecalho-favelainova {    /*OBJETIVOS*/
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.missao {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
}

.missao strong {
  font-weight: 600;
}

.icone-objetivo {
  font-size: 48px;
  color: #676767;

}
.icon{
  width: 70px;
  height: 70px;
}

/*    PARCEIROS   */
.text{
  font-size: 15px;
  color: #000000;
  text-align: center;
}
.parceiros-colecao {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.parceiros-item {
  width: 140px;
  height: 140px;
  padding: 8px;
  margin: 20px 20px;
  }
.parceiros-colecao2{ /*geral*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*.parceiros-conjuto{ 
  width: 265px;
  height: 185px;    
 }*/
 .parceiros-item2{
  width: 190px;
  height: 140px;
  margin: 15px 40px;
 }
 .parceiros-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.container-parceiros {
  min-height: 72vh;
}
/*    FIM PARCEIROS   */
 
/*      PROJETOS      */
.projetos-foto {
  width: 150px;
  height: 150px;
  object-fit: cover;
}


.favelacorN{     
  color: #db0303f3;
}
.projetos-titulo {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.projetos-coordenacao {
  text-transform: uppercase;
}
.projetos-foto {
  width: 230px;
  height: 230px;
}
.projetos-foto img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*     FIM PROJETO     */


/*     IMPRENSA      */


#mais1{
  display: none;
}
#mais2{
  display: none;
}
#mais3{
  display: none;
}
#mais4{
  display: none;
}
#mais5{
  display: none;
}
#mais6{
  display: none;
}
#mais7{
  display: none;
}
#mais8{
  display: none;
}


#btnVerMais1{
  color: blue;
  cursor: pointer;
}
#btnVerMais2{
  color: blue;
  cursor: pointer;
}
#btnVerMais3{
  color: blue;
  cursor: pointer;
}
#btnVerMais4{
  color: blue;
  cursor: pointer;
}
#btnVerMais5{
  color: blue;
  cursor: pointer;
}
#btnVerMais6{
  color: blue;
  cursor: pointer;
}
#btnVerMais7{
  color: blue;
  cursor: pointer;
}
#btnVerMais8{
  color: blue;
  cursor: pointer;
}


.card-body{
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.col-sm-3{
  height: max-content;
}
/**** FUNCIONOU 1
.hidden{
  display:none;
}
input{
  display: block;
}
*/



/*.card-body{
  display: contents;
}*/

/*.card{
  max-height: min-content; /*min-content*/
/*  overflow: hidden;
  position: relative;

  display:flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border-radius: 0.25rem;
}
.card-body{
  max-height: 70%;
  overflow: hidden;
  position: relative;
  transition: max-height 0,4s ease;
}
.card-text{
  max-height: 70%;
  overflow: hidden;
  position: relative;
  transition: max-height 0,4s ease;
}
.overflow{
  display: none;
  position: absolute;
  bottom: 0;
  left:0;
  width: 100px;
  height: 30px;
}
.overflow[data-state="visible"]{
  display: block;
}*/


 /* Modelo da caixa de texto */
/* .block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 6em; /* aqui vc controla a altura da caixa de texto 
  text-align: justify;
}*/
/* .block-with-text:before {
  content: '...Mais';
  position: absolute;
  right: 0px;
  bottom: 0;
  background-color: #ffffff;
  padding: 0px 17px 2px 0.25em;
  color: blue;
} */
/*.block-with-text:after, .block-with-text:active{ 
  overflow: visible; /*Deixa visivel*/
 /* height: 100%;
  position: absolute;
  padding: 0px 0px 0px 0.25em;
  
} */

.conteudo-img-card { 
  height: 190px;
  object-fit: cover;
  object-position: center center;
}
.titulo-noticias {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.subtitulo-noticias {
  font-size: 14px;
  color: #7a7d6c;
  font-weight: 600;
  text-transform: uppercase;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}


.display-1,
.display-2,
.display-3 {
  font-family: "Raleway", sans-serif;
}



/*       DIV SOMOS      */
.hero-image {   /* fundo */  
  background-image: linear-gradient(#17426d, #0f96ae),
    url("../images/home/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 512px;
}
.hero-text {      /* textos*/
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.favelacor{     
  color: #0a0909e3;
  text-shadow: 2px 2px 15px rgb(255, 253, 253);
}
.inovacor{      
  color: #1f1d1dcb;
  text-shadow: 2px 2px 15px rgb(255, 253, 253);
} /* FIM textos*/
/*      FIM DIV SOMOS       */

/*      RODAPÉ      */
.footer {
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #17426d;
  color: #f5c200;
  list-style: none;
}
.footer .endereco {
  font-size: 16px;
}
.footer .endereco h4 {
  font-size: 16px;
  margin-top: 0.25rem;
  margin-bottom: 0;
}
.footer .endereco span {
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 0;
}
.rounded-social-buttons {
  text-align: right;
}
.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border: 0.25rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}
.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.rounded-social-buttons,
/*.fa-linkedin,*/
.fa-instagram {
  font-size: 70px;
}
/*.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}
.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}*/
.rounded-social-buttons .social-button.instagram {
  background: #125688;
}
.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
} 



.rounded-maps-buttons {
  text-align: right;

}
.rounded-maps-buttons .maps-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 18rem;
  height: 4rem;
  border: 0.25rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  font-size: 17px;

}
.rounded-maps-buttons .maps-button:hover,
.rounded-maps-buttons .maps-button:focus {
/*  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);*/
  font-size: 18px;
}
.rounded-maps-buttons,
/*.fa-linkedin,*/
.fa-map-marker-alt {
  font-size: 25px;
  color:tomato;
}

.email{
  color: #f5c200;
}
/*    FIM RODAPÉ      */