body{
  background-color: #aaa6a6; 
}

/* MENU */
nav li {
  list-style: none;
  cursor: pointer;
  margin: 15px;
  
}
.navlink {
  color: #000000;
  font-size: 14px;
  /*display: inline-block;*/
}

.navitem a:hover, .navlink:active{ 
  color: #f38a12 !important;
  border-bottom: #f38a12 4px  solid;
  display: block;
  font-size: 100%;
}


/*a:active,
a:hover {
  outline: 0;
}
.disable-pointer-events {
  pointer-events: none !important;
}*/
/* FIM MENU */

a {
  color:rgb(255, 255, 255);
  text-decoration: none;
}

.projetosH {
  min-height: 96px;
}

.font {
  font-family: "Anton", sans-serif;
  margin: 0;
  /*color: #b0afb3;*/
  opacity: 0.8;
}

/* EDITAL */
.myCard { 
  margin: 20px auto;
  width: 95%;
}
.btn a:hover{
  color: #767779 !important;
}
.btn-outline-info a {
  color:#1d9696;
  text-decoration: none;
}
.btn-outline-warning a {
  color:#c4b214;
  text-decoration: none;
}


/*.carousel {
  width: 100%;
  min-height: 500px;
}
.carousel-inner {
  width: 100%;
  height: 500px;
}*/

.text-justify {
  text-align: justify;
}

/* RODAPÉ */
.footer {
  padding: 20px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  list-style: none;
}

.footer .endereco {
  font-size: 16px;
}

.footer .endereco h4 {
  font-size: 16px;
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.footer .endereco span {
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.rounded-social-buttons {
  text-align: right;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border: 0.25rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons,
.fa-linkedin,
.fa-instagram {
  font-size: 70px;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.instagram {
  background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
} 
/* FIM RODAPÉ */


.fundo-favelainova { /*Missao*/
  background-color: #181616;
  color: #fff;
}

.color-favelainova {
  color: #2b3e64;
}

.destaque-favelainova {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}


.cabecalho-favelainova {    /*OBJETIVOS*/
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.missao {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
}

.missao strong {
  font-weight: 600;
}

/*.icone-objetivo {
  font-size: 48px;
  color: #676767;
}
*/
.projetos-foto {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.parceiros-colecao {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.parceiro-item {
  width: 140px;
  height: 140px;
  padding: 8px;
  margin: 20px 60px;
}

.parceiro-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.conteudo-img-card {
  height: 190px;
  object-fit: cover;
  object-position: center center;
}

.titulo-noticias {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.subtitulo-noticias {
  font-size: 14px;
  color: #7a7d6c;
  font-weight: 600;
  text-transform: uppercase;
}

.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.container-parceiros {
  min-height: 72vh;
}

.display-1,
.display-2,
.display-3 {
  font-family: "Raleway", sans-serif;
}

.projetos-titulo {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.projetos-coordenacao {
  text-transform: uppercase;
}

.projetos-foto {
  width: 240px;
  height: 135px;
}

.projetos-foto img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* div quem somos */
.hero-image {   /*cor de fundo*/  
  background-image: linear-gradient(rgba(82, 80, 80, 0.37), rgba(8, 8, 8, 0.829)),
    url("../images/home/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 512px;
}
.hero-text {      /* textos*/
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.favelacor{     
  color: #0a0909e3;
  text-shadow: 2px 2px 4px rgb(255, 253, 253);
}
.inovacor{      
  color: #1f1d1dcb;
  text-shadow: 2px 2px 4px rgb(255, 253, 253);
} /* FIM textos*/
/*FIM div quem somos*/

.email{
  color: #000000;
}